.music * {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6F6F6;
}

.git h3 {
    color: blue;
    background-color: #DEB887;
}

.git b {
    font-size: 25px;
}

span {
    background-color: black;
    color: white;
}

.music {
    text-align: center;
}

.music h3 {
    color: blue;
    background-color: #D2691E;
    padding-bottom: 20px;
}

.background1 {
    background-color: #FFFACD;
}

.background2 {
    background-color: #D2691E;
}

.tho h3 {
    background-color: #00FFFF;
    color: #4B0082;
}

.tho p {
    background-color: #FF69B4;
    color: #331b4b;
}

h1 {
    background-color: #FFE4B5;
    color: #FF0000;
    text-align: center;
    font-size: 50px;
}